$borderColor: rgba(0, 0, 0, 0.12);
$baseColor: #3d3d3d;
$highlightColor: #5192f4;

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}

@keyframes fadeDown {
  0% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(10px);
  }
}

.Spotlight {
  max-width: 600px;
  transform: translateX(-50%);
  border-radius: 8px;
  top: 15%;
  width: 90%;
  max-height: 300px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  position: absolute;
  left: 50%;
  overflow: hidden;
  backdrop-filter: blur(60px);
  border: 0.5px solid $borderColor;
  background: rgba(255, 255, 255, 0.6);
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  display: flex;
  flex-direction: column;
}

.SpotlightInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 0.5px solid $borderColor;
  padding: 12px;

  .search-icon {
    width: 16px;
    height: 16px;
    margin-right: 4px;
  }

  .search-input {
    border: 0;
    font-family: inherit;
    flex: 1;
    font-size: 1rem;
    outline: none;
    background: none;

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      -webkit-appearance: none;
    }

    &::placeholder {
      color: rgba($baseColor, 0.3);
    }
  }
}
.SpotlightResults {
  padding: 16px 14px;
  flex: 1;
  overflow: scroll;

  section {
    border-bottom: 1px solid $borderColor;
    padding: 4px 0;

    &:last-of-type {
      border: 0;
      padding-bottom: 0;
    }

    h6 {
      font-weight: bold;
      font-size: 0.65rem;
      color: rgba($baseColor, 0.3);
      margin: 0;
      user-select: none;
      padding: 4px 2px;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        font-size: 0.8rem;
        line-height: 1.25em;
        padding: 8px 4px;
        color: $baseColor;
        border-radius: 4px;

        .author {
          opacity: 0.75;
        }

        .modified {
          opacity: 0.5;
          margin-top: 2px;
          font-size: 0.7rem;
        }

        &.active {
          color: #fff;
          background: $highlightColor;
          cursor: pointer;
        }
      }
    }
  }
}
